.btnLogOut{
    display: none;
}
#section-register-user{
    display: none;
}
*{
    margin: 0%;
    font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.wapper-content{
    width: 100%;
    height: 100%;
   background: #fff;
}
.content-login{
    width: 30%;
    height: 100%;
    margin: 0% 0% 0% 70%;
    align-content: center;
    background: #3F51B5;
   /*  padding: 1em 1em; */
}
.content-login form{
    text-align: center;
    padding: 3em 1em;   
    
}

.logo{
    margin-top: 20px;
}
.logo img{
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 100%;
}
.form-login{
    padding: 1em 1em;
    margin: 20px 0px;
}
.form-login h3{
    color: #fff;
    font-size: 1.5em;
}
.section-text{
    margin: 20px 0px;
}
.section-value{
    width: 100%;
    border: none;
    background: #3F51B5;
    border-bottom: .5px solid #fff;
    margin: 20px 0px;

    padding: .2em 0px;
   
}
.section-value input{
    width: 90%;
    background: #3F51B5;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
    padding: .5em 0em .0em 0em;
    
}
.input-user{
    width: 100% !important;
}
#headerProfile{
    display: none;
    width: 100%;
    height: 80px;
    background: #3F51B5;
    color: #fff;
}
#componenteProfile{
    text-align: right;
    padding:2em 1em;
}
#btnLogOut{
    border: none;
    outline: none;
    padding: 1em 1em;
    color: #fff;
    background: #ff4081;
    display:none;
    float: left;
    cursor: pointer;
    margin: 20px 0px 0px 10px;
}
.section-button input{
    width: 100%;
    border: none;
    outline: none;
    padding: 1em 0em;
    margin: 10px 0px;;
    margin-bottom: 25px;
    color: #fff;
    text-transform: uppercase;  
    background: #ff4081;
    cursor: pointer;
}
.or{
    color: #fff;
    
}
.loginAditional{
    align-content: center;
}
.icon-facebook, .icon-google, .icon-mail2{
    color: #fff;
    font-size: 1.2em;
    border-radius: 100%;
    padding: .8em .8em;
    margin: 0% 1%;
    background: rgba(178,178,178, 0.4);
    box-shadow: 0px 0px 4px 1px #ccc;
    cursor: pointer;
    
}
.icon-facebook:hover{
    background: #ff4081;
    box-shadow: 0px 0px 4px 1px rgba(204, 204, 204, 0.486);
    
} .icon-google:hover{
    background: #ff4081;
    box-shadow: 0px 0px 4px 1px rgba(204, 204, 204, 0.486);
}
 .icon-mail2:hover{
    background: #ff4081;
    box-shadow: 0px 0px 4px 1px rgba(204, 204, 204, 0.486);
}
.icon-checkmark{
    color: #fff;
}
.icon-cross{
    color: #ff4081;
    padding: .1em .3em;
}
.icon-circle-left{
    color: #fff;
    font-size: 1.5em;
    float: left;
    cursor: pointer;
    border-radius: 100%;
}
.icon-circle-left:hover{
    box-shadow: 0px 0px 4px 1px rgba(204, 204, 204, 0.486);
}
#messageValide{
    color: #fff;
    font-size: .8em;
}
.portada{
    width: 70%;
    height: 100%;
    background: url(../img/portada.jpg)no-repeat;
    background-size: cover;
    float: left;
    
}
.onPortada{
    width: 100%;
    height: 100%;
    background: rgba(57, 49, 49, 0.64);
}
.description-portada{
    margin: 10% 5%;   
    position: absolute;

}
.description-portada h2{
    font-size: 1.5em;
    font-weight: 200;
    color: #fff;
}
.description-portadaModo{
    color: #ff4081;
    font-size: 1.5em
}
.description-portadaMama{
    color: #3F51B5;
    font-weight: 800;
    padding: 1em 0em;
    font-size: 1.8em
}
.description{
    color: #fff;
    padding: 1em 0em;
    margin: 5px 0px 0px 30px;
}
.description p{
    font-weight: 100;
}
.icon-bubbles, .icon-gift, .icon-heart, .icon-flag{
    font-size: 1.5em;
    float: left;
    margin-right: 20px;
}
@media (max-width:950px){
    .content-login{
        width: 50%;
        margin: 0% 0% 0% 50%;
    }
    .portada{
        width: 50%;
    }
    .description-portada h3{
        font-size: 1.2em;
    }
}
@media (max-width:750px){
   .content-login{
       width: 80%;
       margin:0% 10%;
   }
    .portada{
        display: none;
    }
}
@media (max-width: 480px){
    .content-login{
        width: 100%;
        margin: 2% 3%;
        margin: 0%;
    }
    .wapper-content{
        min-height: 450px;
    }
    .wapper-portada{
        min-height: 450px;
    }
  

}
