.btnLogOut{
    display: none;
}
#section-register-user{
    display: none;
}
*{
    margin: 0%;
    font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.wapper-content{
    width: 100%;
    height: 100%;
   background: #3F51B5;
}

.content-login{
    width: 40%;
    margin: 10% 30%;
    align-content: center;
   /*  padding: 1em 1em; */
}
.content-login form{
    text-align: center;
    padding: 1em 1em;   
    
}

.logo{
    margin-top: 20px;
}
.logo img{
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 100%;
}
.form-login{
    padding: 1em 1em;
    margin: 20px 0px;
}
.form-login h3{
    color: #fff;
    font-size: 1.5em;
}
.section-text{
    margin: 20px 0px;
}
.section-value{
    width: 100%;
    border: none;
    background: #3F51B5;
    border-bottom: .5px solid #fff;
    margin: 20px 0px;

    padding: .2em 0px;
   
}
.section-value input{
    width: 90%;
    background: #3F51B5;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
    padding: .5em 0em .0em 0em;
    
}
#btnLogOut{
    padding: 1em 0em;
    color: #fff
}
.section-button input{
    width: 100%;
    border: none;
    outline: none;
    padding: 1em 0em;
    margin: 10px 0px;;
    margin-bottom: 25px;
    color: #fff;
    text-transform: uppercase;  
    background: #ff4081;
    cursor: pointer;
}
.loginAditional{
    align-content: center;
}
.icon-facebook, .icon-google, .icon-mail2{
    color: #fff;
    font-size: 1.2em;
    border-radius: 100%;
    padding: .8em .8em;
    margin: 0% 1%;
    background: rgba(178,178,178, 0.4);
    box-shadow: 0px 0px 4px 1px #ccc;
    
}
.icon-checkmark{
    color: #fff;
}
.icon-cross{
    color: #ff4081;
}
.icon-circle-left{
    color: #ff4081;
    font-size: 1.5em;
    float: left;
}
@media (max-width: 480px){
    .content-login{
        width: 100%;
        margin: 2% 3%;
        margin: 0%;
    }
    .wapper-content{
        min-height: 450px;
    }
    .wapper-portada{
        min-height: 450px;
    }

}